.testimonies {
	background-color: #232323;
	color: #fff;
    display: grid;
    place-items: center;
    padding-top: 20%;
    padding-bottom: 30%;
}
.allTest,
.testTop {
	display: flex;
}
.testTop > h4{
    padding: 5%;
}
.abts {
	font-family: Poppins;
	font-size: 50px;
	font-weight: 1000;
	line-height: 75px;
	letter-spacing: 0em;
	padding-bottom: 15%;
	color: #000000;
}
.testTxxt{
    padding-bottom: 25%;
}
.testImgC {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	border: 1px solid #000000;
    position: relative;
}
.testImgCenter{
    height: 100px;
	width: 100px;
}
.testImg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.aboutOut {
	background-color: #ecdbcb;
	padding: 10% 5%;
	color: #000000;
}
.revieW {
	width: 336px;
	height: 412px;
	top: 7355px;
	left: 122px;
	background-color: #ffffff5e;
    text-align: left;
    padding: 5%;
    margin-top: 5%;
    color: #000000;
}
.rBtn{
    background-color: #d4a80a;
	width: 30%;
	height: 100px;
    margin-top: 5%;
	top: 2352px;
	left: 97px;
	border-radius: 15px;
	border: 0.5px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}
.revieW > p{
    padding: 10%;
}
.reviewMiddle{
    background-color: #ffffff;
    width: 500px;
    margin-top: 0;
	height: 520px;
}

.about {
	display: flex;
	/* height: 300px; */
}
.aboutText {
	font-family: Poppins;
	font-size: 40px;
	font-weight: 400;
	line-height: 60px;
	letter-spacing: 0em;
	text-align: left;
	width: 50%;
	padding: 10% 0;
}
.readMore {
	font-family: Poppins;
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
	color: #3a3a3af5;
	cursor: pointer;
}
.aboutPics {
	width: 100%;
}
