.testimonies {
	background-color: #232323;
	color: #fff;
    display: grid;
    place-items: center;
    padding-top: 20%;
    padding-bottom: 30%;
}
.revCont,
.testTop {
	display: flex;
}
.testTop > h4{
    padding: 5%;
}
.abts {
	font-family: Poppins;
	font-size: 50px;
	font-weight: 1000;
	line-height: 75px;
	letter-spacing: 0em;
	color: #000000;
}
.testTxxt{
    padding-bottom: 25%;
}
.testImgC {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	border: 1px solid #ffffff;
}
.testImgCenter{
    height: 100px;
	width: 100px;
	border: 1px solid #000000;
}
.testImg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.aboutOutCont{
	background-color: #232323;
	padding: 0% 5%;
}
.aboutOut {
	background-color: #ecdbcb;
	padding: 5%;
	color: #000000;
}
.revCont{
	padding-left: 10%;

}
.revieW {
	width: 27.5%;
	height: 412px;
	top: 7355px;
	left: 122px;
	background-color: #ffffff5e;
    text-align: left;
    padding: 5% 2%;
    margin-top: 5%;
    color: #ffffff;
}
.rBtn{
    background-color: #E3D081B2;
	width: 50%;
	height: 100px;
    margin-top: 5%;
	border-radius: 15px;
	border: 0.5px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}
.revieW > p{
    padding: 10%;
}
.reviewMiddle{
    background-color: #ffffff;
    width: 35%;
    margin-top: 0;
	height: 520px;
	color: #000000;
}

.about {
	display: flex;
}
.aboutText {
	font-family: Poppins;
	font-size: 30px;
	font-weight: 400;
	line-height: 3rem;
	letter-spacing: 0em;
	text-align: left;
	padding: 5%;
}
.readMore {
	font-family: Poppins;
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
	color: #3a3a3af5;
	cursor: pointer;
}
.aboutPics {
	width: 100%;
	padding: 5%;
}
