@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
  min-height: 100vh;
}
/* .container{
  min-height: 100vh;
} */

/* .App {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


li{
    list-style-type: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color:#000000
}
.skill{
  cursor: pointer;
}
a:hover, .skill:hover {
  text-decoration: none;
  font-weight: bolder;
}

/* a:active {
  text-decoration: none;
  color: #D4A80A !important;
    font-size: 100px;
} */

.custom-toast{
  z-index: 1000000;
  background-color: red;
}
button:hover{
  background-color: #ECDBCB;
  color: #000000;
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal.showAnim{
  transform: translateY(0px);
  opacity: 1;
}